.nav {
  position: fixed;
  z-index: -10;
  color: white;
  top: 4.5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  &__left {
    width: 100%;
    height: 60%;
    background-color: rgba($dark-blue, 0.81);
    margin-top: -10%;
    padding-top: 10%;

    @include respond(phone-land) {
      height: 80%;
    }

    @include respond(laptop) {
      width: auto;
      height: auto;
      background: none;
      margin-top: 0;
      padding-top: 0;
    }
  }
  &__right {
    z-index: -10;
    top: 40%;
    transform: translateX(-50%);

    @include respond(phone-land) {
      top: 70%;
    }
  }

  @include respond(laptop) {
    z-index: 10;
    opacity: 1;
    top: 50%;

    &__left {
      left: 3%;
      transform: translate(0%, -50%);
    }
    &__right {
      left: initial;
      right: 3%;
      transform: translate(0%, -50%);
    }
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 18rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    @include respond(laptop) {
      height: 18rem;
    }
    @include respond(widescreen) {
      height: 30rem;
    }

    &--resume {
      justify-content: center;
      height: 3rem;

      @include respond(laptop) {
        height: 18rem;
      }
    }
  }

  &__item {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    @include respond(widescreen) {
      font-size: 2.4rem;
    }

    a {
      transition: color 300ms ease-in-out;
      &:hover {
        color: #77cc80;
      }
    }
  }

  &__divider {
    height: 3.3rem;
    width: 0.05rem;
    align-self: center;
    margin: 0.5rem 0;
    background-color: white;
    display: none;

    @include respond(laptop) {
      display: block;
    }
    @include respond(widescreen) {
      height: 5.1rem;
    }
  }
}
.show-menu {
  z-index: 10;
  opacity: 1;

  &.nav__right {
    z-index: 15;
  }
}

.active {
  color: $bright-blue;
}
.highlight {
  color: $bright-blue;
}
