.nav {
  position: fixed;
  z-index: 10;
  color: white;
  top: 50%;
  transform: translateY(-50%);

  &__left {
    left: 3%;
  }
  &__right {
    right: 3%;
  }

  &__items {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 18rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    &--resume {
      justify-content: center;
    }
  }

  &__item {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    a {
      transition: color 300ms ease-in-out;
      &:hover {
        color: #77cc80;
      }
    }
  }

  &__divider {
    height: 3.3rem;
    width: 0.05rem;
    align-self: center;
    margin: 0.5rem 0;
    background-color: white;
  }
}
