.overlay {
  box-sizing: border-box;
  width: 96%;
  padding: 1rem;
  height: 50rem;
  background-color: rgba($dark-blue, 0.5);
  @include centerAbs;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  @include respond(tablet) {
    width: 72%;
  }

  &--auto {
    height: auto;
    @include respond(tablet) {
      height: 50rem;
    }
  }
}
