@mixin respond($breakpoint) {
  @if ($breakpoint == "widescreen") {
    @media (min-width: 1900px) {
      @content;
    }
  }
  @if ($breakpoint == "laptop") {
    @media (min-width: 950px) {
      @content;
    }
  }
  @if ($breakpoint == "tablet") {
    @media (min-width: 475px) {
      @content;
    }
  }
  @if ($breakpoint == "phone-land") {
    @media (max-height: 650px) {
      @content;
    }
  }
}

@mixin centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin title {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  @include respond(tablet) {
    letter-spacing: 1rem;
    font-size: 4.2rem;
  }
  @include respond(laptop) {
    font-size: 7.2rem;
  }
}
